@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #22254b;
}

.hover-effect {
    width: 300px;
}

img {
    width: 100%;
}

.transition-transform {
    transform: translateY(101%);
}

.hover-effect:hover .transition-transform {
    transform: translateY(0);
}